body{
    margin: auto;
    width: 70%;
}
h1{
    color: rgb(28, 28, 160);
}
h2{
    color: rgb(28, 28, 160);
}
div.so1{
display: flex;
padding-top: 3%;
justify-content: space-between;
}
div.so1 img{
    width: 63.33%;
}
div.so2{
    width: 36.67%;
    float: right;
    background-color: rgb(243, 235, 235);
    padding-left: 3%;
}

div.so3{
    width: 33.33%;
}
div.so3 img{
    width: 90%;
}
div.so3 p{
    width: 90%;
}
hr{
    border: 2px solid rgb(230, 223, 223);
}

div.so41{
    width: 70%;
    padding-left: 3%;
}
div.so41 div{
    display: flex;
}
div.so41 div img{
    width: 40%;
}
div.so41 div p{
    width: 60%;
    float: right;
    padding-left: 3%;
}
div.so42{
    width: 30%;
    float: right;
    padding-left: 3%;

}  
div.so42 img{
    width: 100%;
}
div.so42 a{
    color: black;
}