
.content{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    margin: auto;
}
.product{
    font-family: 'Segoe UI light';
    font-size: 20px;
    color: rgb(87, 86, 86);
    width: 490px;
    height: 680px;
    position: relative;
    margin-bottom: 30px;
}

.product .anh1{ width: 100%;}
.product .anh2{ 
    width: 100%;

    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.4s;
    opacity: 0;
}
.product:hover .anh2{ 
    opacity: 1;
}
.product .layer3{
    display: flex;
    width: 100%;
    margin-top: 10px;
}
.product .layer3 .trai{
    width: 50%;
}
.product .layer3 .trai a{
    text-decoration: none;
    font-weight: bolder;
    color: #414141;
}
.product .layer3 .phai{
    width: 50%;
    text-align: right;
}
.product .layer4{
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.4s;
    opacity: 1;
}
.product:hover .layer4{
    opacity: 0;
}
.product .layer5{
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.4s;
    opacity: 0;
}
.product:hover .layer5{
    opacity: 1;
}